amqp==2.5.1
certifi==2019.9.11
chardet==3.0.4
Django==2.2.8
django-nameko-standalone==1.2.2
dnspython==1.16.0
eventlet==0.25.1
greenlet==0.4.15
idna==2.8
importlib-metadata==0.23
kombu==4.6.5
mock==3.0.5
monotonic==1.5
more-itertools==7.2.0
nameko==2.12.0
path.py==12.0.2
pytz==2019.3
PyYAML==5.1.2
requests==2.22.0
six==1.12.0
sqlparse==0.3.0
urllib3==1.25.6
vine==1.3.0
Werkzeug==0.16.0
wrapt==1.11.2
zipp==0.6.0
